<ng-content></ng-content>

<div class="container">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse">
    &#9776;
  </button>

  <div class="collapse navbar-toggleable-xs">
    <a class="navbar-brand" href="#">{{title}}</a>

    <div class="nav navbar-nav">
      <a class="nav-item nav-link" href="#" routerLink="home" routerLinkActive="active" i18n>Home</a>
      <a class="nav-item nav-link" href="#" routerLink="dashboard" routerLinkActive="active" i18n>Dashboard</a>
      <a class="nav-item nav-link pull-xs-right" href="#" routerLink="about" routerLinkActive="active" i18n>About</a>
    </div>
  </div>
</div>


